*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  
  
}

ul, li{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none; 
  color: black;
}

body{
 min-height: 100vh;
 position: relative;
}

#navSvg{
  width: 1.75rem;
  height: auto;
}


main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.navBar{
  position: fixed;
  margin-top: 1.5rem;
  display: flex;
 background-color: #fff;
 box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
  width: 100%;
  height: 10%;
}


.logo{
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
}

#logo{
  width: 10rem;
  height: auto;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-left: 7rem;
 
}

.menu h4 {
  font-weight: 100;
  font-size: 0.95rem;
}


.options{
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 30%;
}

.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.promoBanner{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-weight: bold;
  font-size: 0.75rem;
  width: 100%;
  height: 3%;
}

.productDrop{
  width: 100%;
 
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.productDrop p {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}


.footerBox{
  margin-top: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: black;
  gap: 4rem;
  width: 100%;
  font-size: 0.75rem;
}

.shop, .helpAndAdvice{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#footerTitle{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}


.registerSection, .loginSection, .NewProductSection{
  
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.registerBox, .loginBox, .NewProductBox{
  margin-top: 12rem;
  width: 30%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
  border-radius: 1rem;

}

.registerForm, .loginForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

.underline{
  width: 5rem;
  height: 0.25rem;
  background-color: black;
}

.registerBtn, .loginBtn{
  margin-top: 2rem;
  background-color: black;
  color: white;
  border-radius: 0.85rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input{
  padding: 0.5rem;
  background-color: white;
  border: 1px solid  lightgray;
  height: 2rem;
  width: 15rem;

}



.alert{
  margin-top: 3rem;
  position: relative;
  left: 45rem;
  top: 8rem;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
  border: 1px solid transparent;
  border-radius: 1rem;
  width: 30rem;
  height: 2.25rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.success{
  color:  limegreen;
  
}

.warning{
  color: red;
}


/* Category Page component*/
.Categorycontainer{
  margin-top: 8rem;
  height: 67%;
 
  padding: 1rem 4rem;
  display: flex;
 flex-direction: column;
  
}


/* Category Header component*/

.CatHeaderBox{
 
  height: 20rem;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 0;
  
}

.CatHeaderText{
  padding: 3rem;
  text-align: center;
  grid-column: 1/6;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  
}

.CatHeaderTextComponent{

  width: 500px;
}


.CatHeaderTextComponent h1{
  
  margin-bottom: 10px;
}




.CatHeaderImg{

  grid-column: 6/13;

  overflow: hidden;

}




/* Dropdown Filter component*/
.dropdownFilter{
  margin-top: 5rem;
  padding: 1rem 4rem;
  display: flex;
  justify-content: flex-end;
  
  
}

select{
  border: none;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Product grid component*/

.ProductsGrid{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 1rem 4rem;
  gap: 1.5rem;
  
  
}

.product, .ProductsGrid a{
  background-color: #f0f2f5;
  
}



.picture img{
  width: 100%;
  height: auto;
 border: 0.15px inset black;
  
}

.info{
  text-align: center;
  background-color: white;
  padding: 2rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productName{
  font-weight: bold;
}

/* Product detail  page*/

.productImageBox{
  margin-top: 8rem;
  display: flex;
  padding: 4rem 8rem;
  gap: 2rem;
  width: 100%;
  
}

.smallPics{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 5%;

}


.bigPic {
  width: 50%;
  border: dotted 1px black;


}

.bigPic img{
  
  width: 100%;

}

.textbox{
  background-color:  #fff ;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

#AddToCartBtn{
  margin-top: 10rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 50%;
  background-color: red;
  color: white;

}

.featureBox{
  display: flex;
  gap: 10rem;
  padding: 4rem 6rem;
}

.comments{
  font-size: large;
  letter-spacing: 2px;
  line-height: 2;
  padding: 4rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.keyFeatures{
 
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.keyFeatures li{
  list-style: circle;
  margin-bottom: 1rem;
}


/* addProductForm component*/

label{
  display: inline-block;
  width: 10rem;
}


.NewProductBox{
  position: relative;
  margin-bottom: 2rem;
}

.NewProductForm{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}



.closeFormBtn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-size: 0.75rem;

}

textarea{
  padding: 0.5rem;
  width: 20rem;
  height: 10rem;
}

.radioBtns{
  display: flex;

  
}

.formField{
  display: flex;
}
.radioBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  
  
}




input[type=radio] {
  height: 1rem;
}


.addProductBtn{
  align-self: center;
  margin-top: 2rem;
  background-color: black;
  color: white;
  border-radius: 0.85rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tabs{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.TabBtn{
  align-self: center;
  background-color:rgb(235,235,228);
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  
}

.TabBtnActive{
  
  background-color:white;
  
}

.hidden{
  display: none;
}

.selectedImages{
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}



.selectedImageContainer{
  position: relative;
}



.selectedImage{
  width: 4rem;
  height: auto;
  border: 1px  solid black;
}

.deleteImageBtn{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  border: 1px solid black;
  
  
}



/* Manage Product page*/
.productSection{
  margin-top: 9rem;
  height: 67%;
  padding: 1rem;
  
}

.products{
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.productLine{
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 0.25fr 0.25fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.productLine img{
  width: 5rem;
  border: 1px dotted black;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.manageProductHeading{
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

.buttons{
  display: flex;
  gap: 1rem;
}

.editBtn, .deleteBtn{
   align-self: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
 
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal{
  position: absolute;
  top: 20%;
  left: 35%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
  z-index: 2;
}

.hideModal, .hideOverlay{
  display: none;
}

.modal p{
  font-size: 2rem;
  font-weight: bold;
}


.confirmationBtn{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.confirmationBtn button{
  align-self: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}